### Ignore everything related to VS-Code ###

.vscode/**/*
*.code-workspace

### Ignore all local history files ###

**/.history

### Ignore everything in the build directory but keep ./build ###

build/*
!build/.keep

### Ignore the scripts directory ###

scripts/*

### Ignore the executable ###

moca

### Ignore profiling output files ###

callgrind.out.*

### Ignore all output, results and error log files ###

*.log
*.out
*.err
*.m
